body{
  background-color: rgb(224, 234, 250);
}

#hello{
  display: none;
}

#fake-nav{
  background: linear-gradient(rgb(232, 230, 232), rgb(210, 208, 210));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

 #login-text{
   font-weight: bold;
   padding-right: 5px;
 }

.user-modal-container * {
  box-sizing: border-box;
}

.user-modal-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  overflow-y: auto;
  z-index: 3;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 14px;
  background-color: rgba(17, 17, 17, .9);
  transition: all 0.25s linear;
}

.user-modal-container.active {
  opacity: 1;
  visibility: visible;
}

.user-modal-container .user-modal {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  width: 300px;
  background-color: #f6f6f6;
  cursor: initial;
}

.user-modal-container .form-login {
  display: flex;
  padding: 25px 25px;
}

.user-modal-container .form-login.active {
  display: block;
}

.user-modal-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #eeeeee;
}

.user-modal-container input[type="submit"] {
  color: #f6f6f6;
  border: 0;
  margin-bottom: 0;
  background-color: #3fb67b;
  cursor: pointer;
}

.user-modal-container input[type="submit"]:hover {
  background-color: #3aa771;
}

.user-modal-container input[type="submit"]:active {
  background-color: #379d6b;
}

.user-modal-container .links {
  text-align: center;
  padding-top: 25px;
}

.user-modal-container .links a {
  color: #3fb67b;
}

.user-modal-container input[type="submit"].disabled {
  background-color: #98d6b7;
}
